- if(everyauth.loggedIn)
  #game
    canvas#background
    canvas#foreground
    canvas#screen(width=600, height=400)
    .bird(data-type='Invitation')
  #menu
    #menu-party
      h1 Party
      ol
      #menu-party-invite
        select#menu-party-invite-name
          option(value, disabled) Choose a Player...
        a#menu-party-invite-send.button Send Invite
      div
        a#menu-party-invite-button.button Invite Player
  #log
  #Authed
    - if(everyauth.twitter)
      span
        Hi #{everyauth.twitter.user.name} from Twitter!
      span
        img(src='#{everyauth.twitter.user.profile_image_url}')
    - if(everyauth.facebook)
      span Hi #{everyauth.facebook.user.name} from Facebook!
    - if(everyauth.github)
      span Hi #{everyauth.github.user.name} from GitHub!
      span
        img(src="https://secure.gravatar.com/avatar/#{everyauth.github.user.gravatar_id}")
    //code= JSON.stringify(everyauth)
    div
      a(href="/logout") Sign Out
  script(src='/js/jquery.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/ext/chosen.jquery.min.js')
  script(src='/js/world.js')
  script(src='/js/engine.js')
  script(src='/js/draw.js')
  script(src='/js/menu.js')
  script(src='/js/player.js')
  script(src='/js/pathfinder.js')
  script(src='/js/main.js')
- else
  #login
    #register
      a(href='/register') Register
    #loginPassword
      a(href='/login') Login with Password
    #loginTwitter
      a.button(href='/auth/twitter')
        img(src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
    #loginGoogle
      a.button(href='auth/google')
        img(src='https://www.google.com/favicon.ico')
    #loginFacebook
      a.button(href='auth/facebook')
        img(src='http://facebook.com/favicon.ico')
    #loginGithub
      a.button(href='auth/github')
        img(src='http://github.com/intridea/authbuttons/raw/master/png/github_64.png')